.Item-container{
	box-sizing: border-box;
  background-color: white;
  box-shadow: 1px 1px 4px var(--light-grey);
}

.Skill, .Port,
.Exp, .Education, .Footer{
	padding-top: 10%;
}

/* small size responsive */
@media screen and (max-width: 1100px) {
	.Container{
		width: 800px;
	}
}
/* large size responsive */
@media screen and (min-width: 1100px) {
	.Container{
		width: 70%;
	}
}

.About .Item-container{
	height: 460px;
	width: 100%;
	padding: 6%;
	box-sizing: border-box;
	display: inline-flex;
}
.About-left-column,
.About-right-column{ height: 100%; }
.About-left-column {
  width: 40%;
  flex-direction: column;
}
.About-right-column{
  padding-left: 10%;
  width: 60%;
}
.About-profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  object-fit: cover;
}
.About-profile-head h1,
.About-profile-head h2{ margin: 0; }
.About-profile-head h2 { color: var(--light-grey);}
.About-media {
	flex-direction: row;
	display: flex;
	width: 100%;
	padding: 15%;
	box-sizing: border-box;
	justify-content: space-around;
}
.About-media a img {
	width: 30px;
	height: 30px;
	opacity: 0.4;
}
.About-media a img:hover {
	width: 30px;
	height: 30px;
	opacity: 0.6;
}
.downloadCV-btn{
	color: white;
	display: inline-block;
	padding: 3% 5%;
	margin: 10% 0;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	background-color: var(--yellow);
	text-decoration: none;
	box-shadow: 2px 2px 6px var(--light-grey);
}
.downloadCV-btn:hover{
	background-color: burlywood;
	cursor: pointer;
}
.About table td:first-child{
	vertical-align: top;
	width: 30%;
	color: var(--dark-grey);
}


.Skill{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 300px;
}
.Skill div{
	width: 45%;
	height: 80%;
}
.Skill div .Item-container{
	width: 100%;
	height: 100%;
	padding: 6%;
}
.Skill ul li{
	list-style-type: none;
	margin: 4%;
}


.Port-set-item-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 200px;
}
.Port .Item-container {
	width: 30%;
	height: 100%;
}
.Port a{
	text-decoration: none;
	color: var(--dark-grey);
}
.Port img{
	width: 100%;
	box-shadow: 0 2px 4px var(--light-grey);
}
.Port span{ height: 20%; }


.Exp .Item-container {
	height: 260px;
}
.Exp-column {
	height: 100%;
	width: 50%;
	padding: 5%;
	box-sizing: border-box;
}


.Education .Item-container {
	height: 500px;
	padding: 5%;
}
.Education h4,
.Exp h4 {
	color: var(--dark-grey);
	margin: 2px 0;
	font-size: 20px;
}
.Education h5,
.Exp h5 {
	font-weight: normal;
	margin-top: 0;
	font-size: 16px;
}
.Education p{
	margin-bottom: 6%;
}


.Footer {
	width: 100%;
}
.Footer div{
	background-color: var(--dark-grey);
	color: white;
	padding: 1% 6%;
	width: 88%;
}
.Footer h4{
	margin: 0;
	padding: 0;
}