.Home {
	font-size: 28px;
	font-family: Brush Script MT, Brush Script Std, cursive;
	color: var(--dark-grey);
}
.Home a{
	text-decoration: none;
}

.Nav{
	position: fixed;
	top: 0;
	background-color: white;
	box-shadow: 2px 2px 8px gray;
	z-index: 10;
}

.Nav-grid{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.Nav-grid li a {
	display: block;
	color: var(--mid-grey);
	padding: 14px 20px;
	text-decoration: none;
}

.Nav-grid li a:hover{
	font-weight: bold;
	color: var(--dark-grey);
}

/* small size responsive */
@media screen and (max-width: 1100px) {
	@media screen and (max-width: 500px) {
		.Nav{
			width: 160px;
		}
	}
	@media screen and (min-width: 500px) {
		.Nav{
			width: 200px;
		}
	}
	.Nav{
		height: 100%;
		left: 0;
		visibility: hidden;
	}
	.Nav-grid{
		padding-top: 10px;
		
	}

	.Home {
		padding: 10px;
		text-align: center;
	}

	.Nav-grid li a {
		text-align: left;
	}
	.Nav-grid li .active{
		border-right: 4px solid var(--yellow);
	}
	
}

/* large size responsive */
@media screen and (min-width: 1100px) {
	.Nav{
		width: 70%;
		height: 50px;
		margin: 0 15%;
		display: inline;
		border-bottom: 4px solid white;
	}	
	.Nav-grid {
		float: right;
		display: inline-flex;
	}

	.Home {
		float: left;
		padding: 5px 28px;
	}
	
	.Nav-grid li a {
		text-align: center;
	}
	.Nav-grid li .active{
		border-bottom: 4px solid var(--yellow);
	}
}